{% if redirect_to_cart %}
  <script>
    window.location.href = '/cart';
  </script>
{% else %}
  <script>
    const bookTypes = {{ json.dumps(types) }};
    const bookDiscounts = {{ json.dumps(discounts) }};
  </script>
  {{ include_script('controls.bundle.js') }}
  {{ include_script('website_forms.bundle.js') }}
  {{ include_script('/assets/conjugaldictatorship/js/book_order_form.js') }}
  <div class="row">
    <div class="col-md-6" style="text-align: center;">
      <img src="{{ types[0].image }}" id="book_image" />
    </div>
    <div class="col-md-6">
      <p>
        Order <b>The Conjugal Dictatorship of Ferdinand and Imelda Marcos</b>
      </p>
      <div id="order_form"></div>
    </div>
  </div>
{% endif %}
