{% if items %}
<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
</script>
<div class="row mt-4">
  <div class="col-md-8">
    {% for item in items %}
    <div class="card mb-2">
      <div class="card-body">
        <div style="display: flex; flex-direction: row;">
          <div style="width: 100px;">
            <img src="{{ item.type_obj.image }}" style="width: 100%;" />
          </div>
          <div style="flex: 1;">
            <b>The Conjugal Dictatorship of Ferdinand and Imelda Marcos</b><br />
            {{ item.type }}
          </div>
          <div style="text-align: right;">
            &#8369;{{ frappe.utils.fmt_money(item.type_obj.price) }}<br />
            x {{ item.quantity }}
            {% if not source %}
              <br /><br />
              <form action="" method="POST">
                <input type="hidden" name="remove_product" value="{{ item.type }}" />
                <button type="submit" class="btn btn-danger">
                  <svg class="icon icon-sm">
                    <use href="#icon-delete"></use>
                  </svg>
                </button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">Summary</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
            Books
            <span>&#8369;{{ frappe.utils.fmt_money(totals.subtotal) }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
            Discount
            <span>&#8369;{{ frappe.utils.fmt_money(totals.discount) }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            Shipping
            {% if totals.shipping %}
            <span>&#8369;{{ frappe.utils.fmt_money(totals.shipping) }}</span>
            {% else %}
            <span>Not Yet Calculated</span>
            {% endif %}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 {% if not source %}mb-3{% endif %}">
            <div>
              <strong>Total amount</strong>
            </div>
            <span><strong>&#8369;{{ frappe.utils.fmt_money(totals.total) }}</strong></span>
          </li>
        </ul>
        {% if not source %}
        <a href="/shipping" class="btn btn-primary btn-lg btn-block">
          Go to shipping
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row mt-4">
  <div class="col-md-8">
    Your cart is currently empty.
  </div>
</div>
{% endif %}