{% extends "templates/web.html" %}

{% block page_content %}
  {% if subscribed %}
    Your subscription is now complete! You can now log in.
  {% else %}
    Hello {{ first_name }} {{ last_name }}, thank you for subscribing! To complete your subscription, set a password for your account.<br /><br />
    <div id="registration_form"></div>
  {% endif %}
{% endblock %}

{% block script %}
  {% if not subscribed %}
    {{ include_script('controls.bundle.js') }}
    {{ include_script('website_forms.bundle.js') }}
    <script>
      jQuery(function ($) {
        const registrationForm = $('#registration_form');
    
        const form = frappe.ui.form.generate_website_form(registrationForm, [
          {
            fieldname: 'password',
            label: 'Password',
            fieldtype: 'Password',
            reqd: true,
          },
          {
            fieldname: 'password2',
            label: 'Confirm Password',
            fieldtype: 'Password',
            reqd: true,
          },
        ]);
    
        $(form.wrapper).find('form')
          .attr('method', 'POST')
          .attr('action', '');
    
        form.addButton('Register', async function (form, e) {
          e.preventDefault();
          e.stopPropagation();
          const values = form.get_values();
    
          if (values) {
            if (values.password !== values.password2) {
              frappe.msgprint('Passwords don\'t match');
            } else {
              $(form.wrapper).find('form')[0].submit();
            }
          }
        }, 'primary');
      });
    
    </script>
  {% endif %}
{% endblock %}