<div id="{{ pdf_id }}" style="height: 77vh; margin-bottom: 24px; position: relative; display: flex; flex-direction: column; left: 0; right: 0; bottom: 0; top: 0; z-index: 100;">
  <iframe src="{{ bundled_asset('/pdf-viewer/') }}{{ pdf_id }}" style="width: 100%; height: 100%; border: 0px; flex: 1;"></iframe>
  <div style="padding: 8px; text-align: right; background-color: #f9f9fa;">
    <a href="/#" id="{{ pdf_id }}_expand">Expand</a>
  </div>
</div>
<script>
  document.getElementById('{{ pdf_id }}_expand').addEventListener('click', (e) => {
    const pdf = document.getElementById('{{ pdf_id }}');
    e.preventDefault();
    e.stopPropagation();

    if (pdf.style.position == 'relative') {
      pdf.style.position = 'fixed';
      pdf.style.height = 'initial';
      pdf.style.marginBottom = '0px';
      e.target.innerText = 'Exit';
    } else {
      pdf.style.position = 'relative';
      pdf.style.height = '77vh';
      pdf.style.marginBottom = '24px';
      e.target.innerText = 'Expand';
    }
  });
</script>
