{% if order.payment_method == 'Bank Deposit / Cash' %}
<p>
  Thank you for your purchase! Your order has been recorded. Please deposit the total amount of <b>₱{{
    frappe.utils.fmt_money(order.total) }}</b> to any of the
  following accounts. Once complete either <a href="mailto:admin@conjugaldictatorship.com">send us an email</a> or <a
    href="https://www.facebook.com/conjugaldictatorshipbook/">message us</a> with the proof of payment. For faster
  processing,
  make sure to include your order number <b>{{ order.name }}</b>.
</p>
{% for bank in settings.bank_account %}
<table class="table">
  <tbody>
    <tr>
      <td style="width: 33%;">Bank</td>
      <td>
        <img src="{{ bank.image }}" style="height: 50px;" alt="{{ bank.bank }}" />
      </td>
    </tr>
    <tr>
      <td>Bank Account Name</td>
      <td>{{ bank.account_name }}</td>
    </tr>
    <tr>
      <td>Bank Account Number</td>
      <td>{{ bank.account_number }}</td>
    </tr>
  </tbody>
</table>
{% endfor %}
{% endif %}
{% if order.payment_method == 'PayPal / Credit Card' %}
<script
  src="https://www.paypal.com/sdk/js?currency=PHP&intent=authorize&client-id={{ settings.paypal_client_id }}"></script>
<script>
  paypal.Buttons({
    createOrder: function (data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '{{ order.total }}'
          }
        }]
      });
    },

    // Finalize the transaction after payer approval
    onApprove: function (data, actions) {
      return actions.order.authorize().then(function (authorization) {
        // Get the authorization id
        var authorizationID = authorization.purchase_units[0].payments.authorizations[0].id;
        window.location.href = '/api/method/conjugaldictatorship.conjugal_dictatorship.process_pp?o=' + {{ json.dumps(order.name) }} + '&ppo=' + data.orderID + '&a=' + authorizationID;
      });
    }
  }).render('#paypal-button-container');
</script>
<div id="paypal-button-container" style="text-align: center;"></div>
{% endif %}