{{ include_script('controls.bundle.js') }}
{{ include_script('website_forms.bundle.js') }}
{{ include_script('/assets/conjugaldictatorship/js/shipping_form.js') }}
<script>
  const shippingFields = {{ json.dumps(shipping_fields) }};
  const totalQuantity = {{ json.dumps(total_quantity) }};
  const totalWithoutShipping = {{ json.dumps(total_without_shipping) }};
  const selfPickup = {{ json.dumps(self_pickup) }};
  const order = {{ json.dumps(order)}};
  const isSubscribeForm = {{ json.dumps(subscribe_form or False)}};
  window.currency = 'PHP';
  window.currency_precision = 2;

  if (!frappe.boot.user) {
    frappe.boot.user = {
      can_create: [],
      can_select: ['Country', 'Barangay'],
      can_read: [],
    };
  }
</script>
<div class="row mt-4">
  <div class="col-md-8">
    {% if subscribe_form %}
    <h4>Subscribe</h4>
    {% else %}
    <h4>Shipping Details</h4>
    {% endif %}
    <div id="shipping_form" class="mt-2"></div>
  </div>
  {% if not subscribe_form %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Summary</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Books
              <span>&#8369;{{ frappe.utils.fmt_money(totals.subtotal) }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Shipping
              {% if totals.shipping %}
              <span id="shippingTotal">&#8369;{{ frappe.utils.fmt_money(totals.shipping) }}</span>
              {% else %}
              <span id="shippingTotal">Not Yet Calculated</span>
              {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>Total amount</strong>
              </div>
              <span><strong id="totalTotal">&#8369;{{ frappe.utils.fmt_money(totals.total) }}</strong></span>
            </li>
          </ul>

          <button id="checkoutButton" class="btn btn-primary btn-lg btn-block">
            Checkout
          </button>
        </div>
      </div>
    {% endif %}
  </div>
</div>